.packages{
    width: 20%;
    height: 100%;
    padding: 30px 10px 50px 50px;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(88, 87, 88);
    background-image: linear-gradient(rgb(236, 154, 86), white, white);
    transition: all ease 0.3s;
}
.packages:hover{
    cursor: pointer;
    opacity: 0.7;
}
.packages:active{
    box-shadow: 5px 5px 0px black;
    top: 3px;
}
.food-pack1{
    border-radius: 50%;
    width: 70%; 
    position: relative;
    left: 10px;
}
h4{
    
    font-family: 'Century Gothic';
    line-height: 100px;
    color: black;
    font-size: 30px;
}
 .list_p1{
    color: black;
    font-family: 'Century Gothic';
    font-size: 20px;
    text-align: left;
}
